footer.footer
        .container.footer__container
          .footer__copyright
            .footer__copyright-col
              .footer__copyright-year &copy; 2020
            .footer__copyright-userinfo
              .footer__copyright-name Александр Щиняцкий
              .footer__data-text Личный сайт веб - разработчика
          .footer__data
            nav.menu.menu--color-white.footer__data-menu
              ul.menu__list
                each item in menuLinks 
                  li.menu__item
                    a(href="#").menu__link #{item}
            .footer__data-content
              .footer__data-col
                .footer__data-text
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__data-socials
                  ul.socials.socials--round-borders
                    each item in socials
                      li.socials__item
                        a(href="#").socials__link
                          +icon(item, 'socials__icon')
              .footer__data-col
                .text-quote
                  .text-quote__text
                    p «Если над кодом работали 20 человек, значит его можно сделать в 20 раз меньше и в 20 раз быстрее» 
                  .text-quote__author Bjarne Stroustrup