 section.parallax
              #scene
                .layer(data-depth='0.05')
                  +image("parallax/1.jpg" , "parallax__img")
                .layer(data-depth='0.1')
                  +image("parallax/2.png" , "parallax__img")
                .layer(data-depth='0.99')
                  +image("parallax/3.png" , "parallax__img")
                .layer(data-depth='0.45')
                  +image("parallax/4.png" , "parallax__img")
                .layer(data-depth='0.25')
                  +image("parallax/5.png" , "parallax__img")
                .layer(data-depth='0.2')
                  +image("parallax/6.png" , "parallax__img")
                .layer(data-depth='0.1')
                  +image("parallax/7.png" , "parallax__img")
                